.bgContact{
    min-height: 80vh;
    padding: 2rem;
    background: $backgroundColor;
    aside{
        h2{
            padding: 1rem;
            border: 5px solid $black;
        }
        Input,#msg{
            background-color: transparent!important;
            border: none!important;
            border-left: 5px solid black!important;
            border-bottom: 5px solid black!important;
            margin-bottom: 2rem;
        }
    }
}
