main{
    background-color: $backgroundColor;
    min-height: 80vh; 
    .social_media{
        a{
            display: flex;
            width: 2rem;
            padding: .5rem;
            margin: .5rem;
            color: $black;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
            }

            &:focus {
                outline: none;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px 0px 0px 3px #007bff;
            }
        } 
    }
    figure{
        width: 20rem;
        img{
            width: 100%;
        }
    }
}